.face{
   

    position:relative;
    justify-content: center;
    align-items:center;
    left: 500px;
    height: 220px;
    width: 220px;
    top:220px;

background-color:salmon;
border-radius: 50%;
}
body{
    background-color:rgb(150, 180, 189);
}
.eye{
    position:absolute;
    height:35px;
    width:35px;
    background-color: yellow;
    border-radius: 50%;
    top:60px;
    left:60px;
}
.eye1{
    position:absolute;
    background-color: yellow;
    height:55px;
    width:55px;
    
left:70px;
    border-radius:80%;
}  
.eb{
    position:absolute;
      background-color: brown;
    height:15px;
    width:15px;

    
    top:20px;
    left:10px;
    border-radius: 50%;
}

.eb1{
    position:absolute;
    background-color: brown;
    height:20px;
    width:20px;
    top:50%;
    left:30%;
    border-radius: 50%;
}
eb2{
    position:obsolute;
    background-color: brown;
    height:10px;
    width:10px;
    top:60px;
    left:40%;
    
    border-radius: 50%;
}
.mouth{
    position: absolute;
    align-items: center;
    height: 75px;
    width: 150px;
    border-radius: 12px 12px 100px 100px;
    top: 130px;
    left: 35px;
    background-color: rgb(206, 60, 16);
}


